.App {
  text-align: center;
  background-color: aquamarine;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hijo1{
  background-color: violet;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}